/* we use normalize.css, see gulpfile css task */

html {
  height: 100%;
  font-family: 'Karla';
}

body {
  background: url('../img/porto-sunset.jpg');
  background-repeat: no-repeat;
  background-position: 25% center;
  background-size: cover;
  height: 100%;
}

.input-element {
  height: 40px;
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  background: #fff;
  background: rgba(0,0,0,0.2);
  border-radius: 5px;
}

.input-field {
  width: 100%;
  box-sizing: border-box;
  padding: 6px 12px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  border: none;
  color: #ccc;
  font-size: 20px;
  border-radius: 5px;
}

.input-field:focus {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  outline: none;
  box-shadow: 0 0 5px #ccc;
}

.todo-list-container {
  position: absolute;
  top: 75px;
  left: 20px;
  right: 0;
}

.todo-list-container ul {
  margin: 0;
  padding: 0;
}

.todo-list-container li {
  display: block;
  background: white;
  opacity: 0.7;
  width: 90%;
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 10px 20px;
}

